! special
*.foreground:   #D8DEE9
! #2E3440
*.background:   #1d1f21

! black
*.color0:       #3B4252
*.color8:       #4C566A

! red
*.color1:       #BF616A
*.color9:       #8F616A

! green
*.color2:       #A38E8C
*.color10:      #A38E8C

! yellow
*.color3:       #EBCB8B
*.color11:      #EBCB8B

! blue
*.color4:       #81A1C1
*.color12:      #81A1C1

! magenta
*.color5:       #B48EAD
*.color13:      #B48EAD

! cyan
*.color6:       #88C0D0
*.color14:      #8FBCBB

! white
*.color7:       #E5E9F0
*.color15:      #ECEFF4

!*fading: 35
!*fadeColor: #4C566A
Xft.autohint: 1
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba:rgb
Xft.lcdfilter: lcddefault
